php.ini
.htaccess
.htrouter.php
public/.htaccess
php_errors.log
phalcon-devtools

node_modules
vendor

public/production/*
public/img/pet/*
public/img/user/*
app/library/Secret.php
app/library/DbConnection.php
statistic/*