#main{
    display: block;
    width: 60%;
    margin-left: 20%;
    padding-top: 80px;
    min-height: 650px;
}

#main h3{
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    font-weight: bold;
    margin-left: 20px;
}

#main-update{
  display: inline-block;
  color: red;
  font-weight: bold;
  margin-top: 30px;
  vertical-align: middle;
  margin-left: 30px;
}

#main h6{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

#main-contain{
    margin-top: 30px;
    display: block;
    background-color: #f7f9fc;
    padding: 20px 5%;
    border-radius: 5px;
}

.main-contain-holder{
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 50px;
}

.main-contain-holder label{
    display: block;
    margin-bottom: 10px;
    color: #052456;
    font-size: 14px;
    font-weight: bold;
}

.main-contain-holder-lable{
    margin-top: 10px;
}

#main-add{
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #052456;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding: 3px 0;
    cursor: pointer;
}

@media only screen and (max-width: 960px) {
    #main{
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 730px) {
    #main{
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 650px) {
    #main{
        width: 90%;
        margin-left: 5%;
    }

    .main-contain-holder{
        display: block;
        margin-left: 5%;
        width: 90%;
    }

    #main h6{
        text-align: left;
    }
}