#main{
    display: inline-block;
    vertical-align: top;
    margin-top: 100px;
    margin-left: 10%;
    width: 26%;
    text-align: center;
    min-height: calc(100vh - 150px);
}
#main h1{
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
#main h2{
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
#main-app{
    background-color: #052456;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    padding: 5px 0;
    border-radius: 5px;
    display: block;
}

#main-login{
    display: block;
    background-color: #f7d7b4;
    border-radius: 5px;
    padding: 10px 1%;
    margin-top: 20px;
}
#main-login h6{
    font-weight: bold !important;
    margin-bottom: 5px;
    display: block;
}
#main-login img{
    display: block;
    margin: 5px 0 !important;
}

#main-welcome {
    display: block;
    text-align: center;
    box-shadow: 2px 2px 1px #e5e5e5; 
    width: 90%;
    padding: 20px 0;
    margin: 50px 5%;
    border-radius: 5px;
}
#main-welcome img{
    border-radius: 50%;
    width: 50%;
    display: block;
    margin-left: 25%;
}
#main-welcome h4{
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

.main-mobile{
    display: block;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
}





#aside{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-left: 5%;
    margin-top: 100px;
}
#aside h6{
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    padding: 5px 0;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #ef8513;
}