#main{
    display: block;
    padding-top: 120px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
#main h4{
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-title{
    display: block;
    padding: 5px 0;
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    background-color: #ef8513;
    color: white;
}

.main-profile{
    display: inline-block;
    vertical-align: top;
    margin: 0 5%;
}

.main-profile h5{
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
#main-terms{
    color: #052456;
    font-weight: bold;
}

#main-check{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

#main-check input{
    display: inline-block;
    vertical-align: middle;
}
#main-check h6{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

#main-confirm{
    background-color: #3897f0;
    border: 1px solid #3897f0;
    color: white;
    border-radius: 5px;
    padding: 6px 20px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}

#main-error{
    display: block;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

@media only screen and (max-width: 900px) {
    #main{
        width: 90%;
        margin-left: 5%;
    }
}
