#aside{
    display: inline-block;
    width: 20%;
    margin-left: 10%;
    margin-top: 100px;
    vertical-align: top;
    min-height: 650px;
}
#aside-header{
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.aside-list{
    display: block;
    border-radius: 5px;
    width: 100%;
}
.aside-remove{
    display: block;
    border-radius: 5px;
    width: 100%;
}
.aside-list a{
    display: block;
    background-color: #f7d7b4;
}
.aside-remove a{
    display: block;
    background-color: #abaeb2;
    border-radius: 5px;
}
.aside-list img{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
}
.aside-remove img{
    display: none;
}
.aside-list h5{
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-align: center;
}
.aside-remove h5{
    display: block;
    width: 100%;
    text-align: center;
}
.aside-list h6{
    margin-top: 10px;
    display: block;
    text-align: center;
    color: #abaeb2;
    padding: 3px 0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
.aside-remove h6{
    margin-top: 5px;
    display: block;
    text-align: center;
    color: #abaeb2;
    padding: 3px 0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#aside-load{
    display: block;
    cursor: pointer;
    background-color: #052456;
    color: white;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 3px 0;
}

#main{
    display: inline-block;
    width: 55%;
    margin-left: 5%;
    margin-top: 100px;
    vertical-align: top;
}
#main-header{
    display: block;
    border-bottom: 5px solid #abaeb2;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.main-header-section{
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    width: 29%;
    padding: 10px 1%;
    margin: 0 1%;
    text-align: center;
    cursor: pointer;
}
.main-header-section img{
    height: 25px;
    margin-bottom: 5px;
}
.main-header-section h7{
    display: block;
}
