/*general-header*/
#header{
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid white;
    background-color: #ef8513;
    color: white;
    z-index: 999;
    vertical-align: middle;
}
#header-desc{
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin-left: 2%;
}
.header-navi{
    color: white;
    float: right;
    margin-right: 5%;
    cursor: pointer;
}
#header-logo{
    float: left;
    margin-left: 10%;
    height: 40px;
    margin-top: 5px;
}

#header-login{
    float: right;
    margin-right: 10%;
    cursor: pointer;
}
#header-login h5{
    display: inline-block;
    vertical-align: middle;
}
#header-login img{
    display: inline-block;
    vertical-align: middle;
    height: 6px;
    margin-left: 10px;
}

.header-drop{
    position: fixed;
    top: 50px;
    width: 224px;
    text-align: center;
    padding: 10px 0;
    right: 10%;
    background-color: white;
    border: 1px solid #f7d7b4;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin-top: 3px;
    border-radius: 5px;
    visibility: visible;
}
#header-drop-message{
    border-left: 2px solid #052456 !important;
    border-right: 2px solid #052456 !important;
    color: black !important;
    background-color: white !important;
    padding: 8px 2% !important;
    width: 76% !important;
    margin-bottom: 15px !important;
}
.header-drop a{
    margin-top: 10px;
    display: block;
    text-align: center;
    margin-left: 10%;
    width: 80%;
    border-radius: 3px;
    color: white;
    background-color: #ef8513;
    line-height: initial;
    padding: 5px 0;
    cursor: pointer;
}
.header-drop input{
    cursor: pointer;
    width: 80%;
    border-radius: 3px;
    height: 26px;
    background-color: #ef8513;
    outline: none;
    margin-top: 20px;
}
#header-drop-logout{
    border-bottom: 2px solid #ef8513;
    width: 80%;
    margin-left: 10%;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    line-height: 30px !important;
}
.header-drop-hide{
    position: fixed;
    top: 50px;
    width: 224px;
	text-align: center;
    padding: 10px 0;
    right: 10%;
    background-color: white;
    border: 1px solid #f7d7b4;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin-top: 3px;
    border-radius: 5px;
    visibility: hidden;			
}
#header-drop-notice{
    display: block;
    color: #ef8513;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

/*Footer style*/
#footer{
    display: block;
	width: 80%;
	background-color: black;
	padding: 5px 10%;
	margin-top: 70px;
	clear: both;
}

#footer h6{
    display: inline-block;
	vertical-align: middle;
	margin-right: 3%;
	color: white;
}

@media only screen and (max-width: 948px) {
    #header-logo{
        margin-left: 5%;
    }

    #footer{
        width: 90%;
        padding: 5px 5%;
    }
}

@media only screen and (max-width: 480px) {
    #header-desc{
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    #header-logo{
        display: none;
    }
}