@import url('https://fonts.googleapis.com/css?family=Rubik');
h1{
	font-family: 'Rubik', sans-serif;
	font-size: 28px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h2{
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h3{
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h4{
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h5{
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h6{
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h7{
	font-family: 'Rubik', sans-serif;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

body{
	margin: 0;
	padding: 0;
}

label{
	font-family: 'Rubik', sans-serif;
}

input{
	font-family: 'Rubik', sans-serif;
}

#react-root{
	display: block;
	width: 100%;
}

#load-button{
	display: block;
	width: 100%;
	text-align: center;
	color: black;
	padding: 5px 0;
	border-radius: 5px;
	margin-bottom: 100px;
	border: 1px solid #ef8513;
	cursor: pointer;
}